<div class="title">
  <h4>Long Notes</h4>
  <div class="action-create">
    <% if policy(LongNote).create? %>
      <%= link_to new_long_note_path do %>
        <h4><i class="far fa-plus-square"></i></h4>
      <% end %>
    <% end %>
  </div>
</div>

<div class="long_notes-wrapper">
  <% @long_notes.each do |long_note|%>
    <div class="">
      <%= link_to long_note_path(long_note) do %>
        <p><%= long_note.title %></p>
      <% end %>
    </div>
  <% end %>
</div>
