$blue:            #334A9A;
$yellow:          #FFF844;
$darkgray:        #373737;
$gray:            #898989;
$claret:          #580C1F;
$persianplum:     #74121D;
$darkchocolate:   #1E2019;
$darkjunglegreen: #102012;
$phthalogreen:    #1F3323;
$prussianblue:    #2F394D;
$darkblue:        #1A1B80;
$oxfordblue:      #001C42;
$darkoxfordblue:  #000434;
$darkpurple:      #261132;
