.home-image {
  img {
    width: 208px;
  }
  &:hover {
    color: $yellow;
  }
}

.home-text {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    color: $yellow;
  }
}
