.home-image {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 0 black;
  border-width: 4px 4px 0 4px;
  border-radius: 16px 16px 0 0;
  padding: 16px;
  img {
    max-width: 184px;
  }
  &:hover {
    color: $yellow;
  }
}

.home-text {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    color: $yellow;
  }
}

.tools {
  display: flex;
  justify-content: center;
    align-items: center;
  flex-wrap: wrap;
  border: solid 0 black;
  border-width: 4px 4px 4px 4px;
  border-radius: 16px;
  padding: 8px;
  background: white;
  background-color: $yellow;
}

.thicker {
  border: solid 4px black;
  border-radius: 16px;
  background-color: $darkblue;
}
