.task-list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.task-list {
  background-color: $gray;
  padding: 16px 56px;
  color: black;
  border-radius: $border-radius;
}
