<div class="title">
  <h4>Short Notes</h4>
  <div class="action">
    <% if policy(ShortNote).create? %>
      <%= link_to new_short_note_path do %>
        <i class="far fa-plus-square"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="grid-3fr-wrapper">
  <% @short_notes.each do |short_note|%>
    <div class="card short_note">
      <p><%= short_note.description %></p>
      <div class="action-box">
        <div class="action">
          <% if policy(ShortNote).edit? %>
            <%= link_to edit_short_note_path(short_note) do %>
              <i class="far fa-edit"></i>
            <% end %>
          <% end %>
        </div>
        <div class="action">
          <% if policy(ShortNote).destroy? %>
            <%= link_to short_note, method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
