<div class="bg-list">
  <%= link_to edit_color_preference_path(color_preference: 'claret'), method: :patch do %>
    <div class="bg-color-pin claret"></div>
  <% end %>
  <div class="bg-color-pin persianplum"></div>
  <div class="bg-color-pin darkchocolate"></div>
  <div class="bg-color-pin darkjunglegreen"></div>
  <div class="bg-color-pin phthalogreen"></div>
  <div class="bg-color-pin prussianblue"></div>
  <div class="bg-color-pin darkblue"></div>
  <div class="bg-color-pin oxfordblue"></div>
  <div class="bg-color-pin darkoxfordblue"></div>
  <div class="bg-color-pin darkpurple"></div>
</div>
