<div class="left-bar">
  <ul class="left-menu">
    <li class="action">
      <%= link_to "#" do %>
        <i class="far fa-plus-square"></i>
      <% end %>
    </li>
    <li class="action">
      <%= link_to "#" do %>
        <i class="far fa-edit"></i>
      <% end %>
    </li>
    <li class="action">
      <%= link_to "#" do %>
        <i class="far fa-save"></i>
      <% end %>
    </li>
    <li class="action">
      <%= link_to "#" do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </li>
  </ul>
</div>
