<div class="right-bar">
  <div class="username">
    <!-- <ul class="dropdown"> -->
      <% if user_signed_in? %>
       <!--  <li class= "dropdown-toggle", id= "navbarDropdown", data= { toggle= "dropdown" }, aria-haspopup= true, aria-expanded= false> -->
          <p><%= current_user.username %></p>
          <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div> -->
        <!-- </li> -->
    <!-- </ul> -->
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "" %>
    <% end %>
  </div>
  <div class="percent box">
    <p>24%</p>
    <div class="field">
      <div class="text-field">

      </div>
      <div class="icon">
        <i class="far fa-play-circle"></i>
      </div>
    </div>
    <div class="result">
      <p>953€</p>
    </div>
  </div>
  <div class="chrono box">
    <div class="controls">
      <i class="far fa-play-circle"></i>
      <i class="far fa-stop-circle"></i>
    </div>
    <div class="chrono-image">
      <%= image_tag "stopwatch.png", alt: "chrono" %>
    </div>
  </div>
  <div class="rule-of-eight box">
    <p>Rule of Eight</p>
    <div class="field">
      <div class="text-field">

      </div>
      <div class="icon">
        <i class="far fa-play-circle"></i>
      </div>
    </div>
    <div class="result">
      <p>63,15</p>
      <i class="far fa-times-circle"></i>
    </div>
    <div class="field">
      <div class="text-field">

      </div>
      <div class="icon">
        <i class="far fa-play-circle"></i>
      </div>
    </div>
    <div class="result">
      <p>32</p>
      <i class="far fa-check-circle"></i>
    </div>
  </div>
</div>
