<div class="percent box">
  <p>URSSAF - 24%</p>
  <div class="field">
    <div class="text-field">
      <input id="percent" type="number">
    </div>
    <div class="icon">
      <i id="go-percent" class="far fa-play-circle"></i>
    </div>
  </div>
  <div id="result-percent" class="result">
  </div>
</div>
<div class="chrono box">
  <p class="mb-0">Chrono</p>
  <div class="controls">
    <i id="start" class="far fa-play-circle"></i>
    <i id="stop" class="far fa-stop-circle"></i>
    <div id="chrono-result" class="result"></div>
  </div>
  <div class="clock">
    <div class="clock-face">
      <div class="hand hour-hand"></div>
      <div class="hand min-hand"></div>
      <div class="hand second-hand"></div>
      <div class="clock-numbers">
        <div class="clock-hour un">1</div>
        <div class="clock-hour deux">2</div>
        <div class="clock-hour trois">3</div>
        <div class="clock-hour quatre">4</div>
        <div class="clock-hour cinq">5</div>
        <div class="clock-hour six">6</div>
        <div class="clock-hour sept">7</div>
        <div class="clock-hour huit">8</div>
        <div class="clock-hour neuf">9</div>
        <div class="clock-hour dix">10</div>
        <div class="clock-hour onze">11</div>
        <div class="clock-hour douze">12</div>
      </div>
    </div>
  </div>
<!--   <div class="chrono-image">
    <%#= image_tag "stopwatch.png", alt: "chrono" %>
  </div> -->
</div>
<div class="rule-of-eight box">
  <p>Rule of Eight</p>
  <div class="field">
    <div id="result-sign"></div>
    <div class="text-field">
      <input id="input-eight" type="number">
    </div>
    <div class="icon">
      <i id="go-eight" class="far fa-play-circle"></i>
    </div>
  </div>
  <div id="result-eight" class="result"></div>
</div>
