<div class="home-wrapper">
  <%= link_to to_do_lists_path, class: "home-image" do %>
    <%= image_tag "logo.png", alt: "bat" %>
    <p class="home-text">Alfred takes notes</p>
  <% end %>
  <div class="tools">
    <div class="percent box thicker">
      <p>- 24%</p>
      <div class="field">
        <div class="text-field">
          <input id="percent" type="number">
        </div>
        <div class="icon">
          <i id="go-percent" class="far fa-play-circle"></i>
        </div>
      </div>
      <div id="result-percent" class="result">
      </div>
    </div>

    <div class="chrono box thicker">
      <div class="controls">
        <i class="far fa-play-circle"></i>
        <i class="far fa-stop-circle"></i>
      </div>
      <div class="chrono-image">
        <%= image_tag "stopwatch.png", alt: "chrono" %>
      </div>
    </div>

    <div class="rule-of-eight box thicker">
      <p>Rule of Eight</p>
      <div class="field">
        <div id="result-sign"></div>
        <div class="text-field">
          <input id="input-eight" type="number">
        </div>
        <div class="icon">
          <i id="go-eight" class="far fa-play-circle"></i>
        </div>
      </div>
      <div id="result-eight" class="result"></div>
    </div>
  </div>
</div>


<!-- <div class="">
  <%#= image_tag "tools.png", alt: "tools" %>
</div> -->
