<div class="home-wrapper">
  <%= link_to to_do_lists_path, class: "home-image" do %>
    <%= image_tag "logo.png", alt: "bat" %>
    <p class="home-text">Alfred takes notes</p>
  <% end %>
  <div class="tools">
    <%= render 'shared/tools' %>
</div>
