<%= simple_form_for @to_do_list do |f| %>
  <%= f.input :title %>
  <%= f.button :submit %>
<% end %>

<!-- <li class="action">
  <%#= link_to "#" do %>
    <i class="far fa-save"></i>
  <%# end %>
</li> -->
