<div class="task-list-wrapper">
  <div class="task-list">
    <h4><%= @to_do_list.title %></h4>
    <div class="action">
      <% if policy(ToDoList).edit? %>
        <%= link_to edit_to_do_list_path(@to_do_list) do %>
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
    </div>

    <div class="action">
      <% if policy(ToDoList).destroy? %>
        <%= link_to @to_do_list, method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>

    <% @to_do_list.tasks.each do |task| %>
      <p><%= task.description %></p>
    <% end %>
  </div>
</div>
