a:hover {
  color: $yellow;
  text-decoration: none;
}

.action a {
  // color: black;
  font-size: 20px;
}

.action a:hover {
  color: $yellow;
  text-decoration: none;
}

.action {
  margin: 8px;
}

.action-box {
  display: flex;
}

.action-create {
  margin-left: 8px;
  a {
    color: $gray;
  }
  a:hover {
    color: $yellow;
    text-decoration: none;
  }
}

.title {
  display: flex;
}

.far {
  cursor: pointer;
}
