a:hover {
  color: $yellow;
  text-decoration: none;
}

.action a {
  font-size: 12px;
}

.action a:hover {
  color: $yellow;
  text-decoration: none;
}

.action {
  margin-left: 8px;
}

.action-box {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  margin-left: 0;
}

.title {
  display: flex;
}

.far {
  cursor: pointer;
}
