.top-bar {
  background-color: $darkblue;
}

.right-bar {
  display: none;
  z-index: 3;
  background-color: $yellow;
  color: black;
  width: 248px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
}

.show {
  display: flex;
}

.top-bar {
  z-index: 1;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  border: solid 0 black;
  border-width: 0 0 4px 0;
  // border-radius: 16px 0 0 16px;
}

.top-menu {
  list-style: none;
  padding: 0;
}
