.chrono-image img {
  width: 100px;
}

.right-bar,
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools-icon {
  z-index: 2;
  position: fixed;
  top: 44px;
  right: 0;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0 black;
  border-width: 4px 0 4px 4px;
  border-radius: 16px 0 0 16px;
  padding: 16px 0;
  background-color: $yellow;
  cursor: pointer;
}

.right-248 {
  right: 248px;
}

.tools-icon img {
  width: 40px;
  height: 40px;
}

.username {
  margin-top: 24px;
  font-size: 24px;
  font-weight: bold;
}

.box {
  padding: 16px 32px;
  border-radius: $border-radius;
  border: solid 1px black;
  margin: 8px;
}

.text-field {
  margin: 8px;
}

.field,
.result {
  display: flex;
  align-items: center;
}

.result p {
  margin: 0;
}

input {
  width: 68px;
  background-color: $gray;
  border: black;
}
