.menu-item img,
.logo img {
  width: 48px;
  height: 48px;
}

.top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.menu-item {
  width: 80px;
  height: 80px;
  border: solid 0;
  border-color: black black $darkblue black;
  margin: 20px 16px 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    border-width: 4px;
    border-radius: 16px 16px 0 0;
    border-bottom-length: 80px;
  }
}

a.active {
  border-width: 4px;
  border-radius: 16px 16px 0 0;
  padding-bottom: 4px;
  border-bottom-length: 80px;
}


