.main-wrapper {
  margin: 100px 320px 16px 72px;
}

.home-wrapper {
  background-color: $darkblue;
  width: 100vw;
  height: 100vh;
  color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-3fr-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}
