.main-wrapper {
  margin: 128px 72px 16px 72px;
}

.margin-right {
  margin-right: 320px;
}

.home-wrapper {
  background-color: $body-bg;
  width: 100vw;
  height: 100vh;
  color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-3fr-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .grid-3fr-wrapper {
    grid-template-columns: 1fr;
  }
}
