.wrapper {
  margin-top: 100px;
  width: 900px;
}

.main-wrapper {
  background-color: $darkblue;
  width: 100vw;
  height: 100vh;
  color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-3fr-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}
